.game-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.weapons {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap: 10px;
  margin-top: 20px;
}

.weapons div {
  width: 100px;
  height: 100px;
  background-size: cover !important;
  position: relative;
  transition: 0.1s;
  bottom: 0;
  opacity: 1;
}

.weapons:not(.disabled) div {
  cursor: pointer;
}

.weapons:not(.disabled) div:hover {
  bottom: 10px;
  padding-bottom: 10px;
}

.weapons.disabled div {
  opacity: 0.6;
}

.result-block {
  margin-top: 35px;
  text-align: center;
  width: 500px;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.stats .divider {
  height: 150px;
  width: 1px;
  border-left: 1px solid gray;
  margin: 0 60px;
}
.stats .weaponChosen {
  width: 150px;
  height: 150px;
  background-size: cover !important;
}
